[SHARED_MEMORY_INFO]
SIM_TO_NET_SHM_KEY=15100
NET_TO_SIM_SHM_KEY=15200
SIM_TO_NET_SEM_KEY=15300
NET_TO_SIM_SEM_KEY=15400
SIM_TO_NET_SHM_SIZE=5120000
NET_TO_SIM_SHM_SIZE=5120000
#[TEST_SHM_INFO]
#TEST_SHM_VALUE
